{% extends 'dossiermedical/base.html' %}

{% block content %}
  <h2>Dossier Medical Details</h2>
  <p>{{ dossiermedical }}</p>
  <h3>Observations:</h3>
  {% for observation in dossiermedical.Observations.all %}
    <p>{{ observation.Description }}</p>
  {% endfor %}

  <a href="{% url 'update_dossiermedical' pk=dossiermedical.pk %}">Edit</a>
  <a href="{% url 'delete_dossiermedical' pk=dossiermedical.pk %}">Delete</a>
  <a href="{% url 'dossiermedical_list' %}">Back to Rendezvous List</a>

{% endblock %}
