<!-- templates/patient_detail.html -->
{% extends 'patients/Patients.html' %}

{% block title %}Patient Detail{% endblock %}

{% block content %}
    <h2>{{ patient }}</h2>
    <p>Date of Birth: {{ patient.DateNaissance }}</p>
    <p>Sex: {{ patient.sexe }}</p>
    <!-- Add more fields as needed -->

    
    <a href="{% url 'patient_update' pk=patient.pk %}">Edit</a>
    <a href="{% url 'patient_delete' pk=patient.pk %}">Delete</a>
    <a href="{% url 'PatientList' %}">Back to Patient List</a>
{% endblock %}
